.btn{
    padding: 10px 20px;
    background-color: $main_color;
    border-radius: 100px;
    color: $white;
    border: none;

    &:hover{
        transform: scale(1.1);
        color: white;
    }

    a{
        color: $white;
        text-decoration: none;
    }

    &-gray{
        background-color: $gray;
    }
}
