.btn{
    padding: 10px 20px;
    background-color: $main_color;
    border-radius: 100px;
    color: $white;
    border: none;

    &:hover{
        transform: scale(1.1)
    }

    a{
        color: $white;
        text-decoration: none;
    }
}
