$heights: (
	600: 600px,
	300: 300px,
	30: 30px,
	3: 3rem,
);

$index: (
	0: 0,
	1: 1,
);

$paddings: (
	40: 40px,
	20: 20px,
);

$margins: (
	-4: -1.5rem,
);

@include func($heights, "h-", "height");

@include func($index, "zi-", "index");

@include func($paddings, "p-", "padding");

@include func($margins, "m-", "margin");