$heights: (
	600: 600px,
	300: 300px,
	30: 30px,
	3: 3rem,
);

$index: (
	0: 0,
	1: 1,
);

$paddings: (
	40: 40,
	20: 20,
);

@include func($heights, "h-", "height");

@include func($index, "zi-", "index");

@include func($paddings, "p-", "padding");

.m--4{
	margin: -1.5rem;
}