$main_color: #16B2D9;
$sec_color: #E7DF1A;
$black: #222;
$white: white;

$font-families: (
	body_font: "Josefin Sans",
	title_font: "Zen Antique",
);

$colors: (
	Orange: orange,
	Yellow: yellow,
	Green: green,
	Blue: cyan,
	Red: red,
);

@mixin func($map, $class-name, $attribute: false){
	@each $key, $value in $map {
	    .#{$class-name}#{$key}{
	    	@if $attribute == "bg"{
				fill: $value;
	    	}
	    	@if $attribute == "height"{
	    		height: $value;
	    	}
	    	@if $attribute == "index"{
	    		z-index: $value;
	    	}
	    	@if $attribute == "padding"{
	    		padding: $value;
	    	}
	    	@if $attribute == "margin"{
	    		margin: $value;
	    	}
	    }
	}
}